.cart-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 100vh;
    height: auto;
    background-color: #f4f4f4;
}

.cart-items {
    flex: 2;
    border-radius: 8px;
    padding: 0px 20px;
    max-height: 500px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-details {
    flex: 1;
}

.cart-item h5 {
    font-size: 16px;
    margin: 0;
}

.cart-item p {
    margin: 5px 0;
    color: #666;
}

.remove-btn {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #ff7875;
}

.cart-summary {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.checkout-btn {
    width: 100%;
    background-color: #2d39c3;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #2531a5;
}

@media (max-width: 768px) {
    .cart-page {
        flex-direction: column;
        padding: 18px;
    }
    .cart-items, .cart-summary {
        width: 100%;
        padding: 20px 0px;
    }

    .cart-item-description {
        display: none;
    }

    .cart-summary {
        background-color: transparent;
        border-radius: 8px;
        box-shadow: none;
        padding: 0px;
    }

    .checkout-btn{
        margin-top: 10px;
    }
}
